
.fill-width {
    width: 100% !important;
}

.v-application {
    font-family: IRANSansX !important;
}

.v-application .v-btn__content {
    letter-spacing: 0 !important;
    font-family: IRANSansX !important;
}